body{
    background-color: #ebebeb;
}
header{
    background: #fcd890c2;
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
}
header > span{
    background-color: #fb9e5e;
    padding: 20px;
}
.forecast-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.forecast-controls{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}
.forecast-body{
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
}
.App{
    margin: 4rem;
    display: flex;
    flex-direction: column;
}

